# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.windows-time-tracker-console.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\David\GitHub\windows-time-tracker-console\.idea\.idea.windows-time-tracker-console\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
